.pane{
	-fx-background-color: white;
}

.scrollpane{
	-fx-background-color: white;
}

.subpane{
	-fx-background-color: #969696;
}

.btnHand {
	-fx-cursor: hand;
}

.btnGreen:hover {
	-fx-background-color: green;
	-fx-text-fill: white;
}

.btnRed:hover {
	-fx-background-color: red;
	-fx-text-fill: white;
}