.cabecalho{
	-fx-background-image: url("../images/personalCoaching.jpg");
	-fx-background-size: 820 110;
}

.rodape{
	-fx-background-color: white
}


.pane {
	-fx-background-image: url("../images/papel-de-parede-vermelho.jpg");
	-fx-background-size: 800 600;
}

.btnHand {
	-fx-cursor: hand;
}

.alvo {
	-fx-image: url("../images/alvo.jpg");
}

.maps {
	-fx-image: url("../images/red-dot-icon.jpg");
}