.cabecalho{
	-fx-background-image: url("../images/personalCoaching.jpg");
	-fx-background-size: 100% 100%;
}

.rodape{
	-fx-background-color: white
}

.btnHand {
	-fx-cursor: hand;
}

.alvo {
	-fx-image: url("../images/alvo.jpg");
}

.maps {
	-fx-image: url("../images/red-dot-icon.jpg");
}