.cabecalho{
	-fx-background-image: url("../images/personalCoaching.jpg");
	-fx-background-size: 800 110;
}

.rodape{
	-fx-background-color: white
}


.pane {
	-fx-background-image: url("../images/papel-de-parede-vermelho.jpg");
	-fx-background-size: 800 600;
}

.btnHand {
	-fx-cursor: hand;
}

